<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full-Stack Student Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 56px;
      }
      tr,
      th {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      footer {
        display: flex;
        justify-content: space-between;
        padding: 1vw 8vw;
        background-color: rgb(61, 51, 51);
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: center;
        color: white;
      }
      footer h3,
      footer h2 {
        color: white;
        text-transform: capitalize;
      }
      footer li {
        list-style: none;
        font-size: 16px;
        text-transform: capitalize;
      }
      footer ul {
        padding: 0;
      }
      .socialmedia ion-icon {
        font-size: 35px;
      }
    </style>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1 fixed-top">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img
              src="./images2/spondius_logo.jpeg"
              alt="page logo"
              width="100"
              height="100"
              style="border: 2px double black"
            />
          </a>
          <button
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#nav"
            aria-controls="nav"
            aria-label="Expand Navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link active" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
              </li>
              <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Student Profiles -->
   
    <div class="container mt-5">
        <h2 style="font-family: 'Times New Roman', Times, serif;font-weight: bolder; "><u>Members</u></h2>
        <table class="table table-hover" style="font-family: consolas; font-size: 20px; font-weight: bold;">
          <thead class="table table-dark">
            <tr>
             
              <th>ID</th>
              <th>Name</th>
              <th>Tell</th>
              <th>Email</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
             <td>PGFS001</td>
              <td>Farhan Mohamed Iman</td>
              <td>+252615622909</td>
              <td><a href="farhanfantastic5@gmail.com">farhanfantastic5@gmail.com</a></td>
              <td><a href="index.html">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
            <td>PGFS002</td>
              <td>Abdirahman Abdullahi Mohamed</td>
              <td>+252616090997</td>
              <td><a href="wardheere388@gmail.com">wardheere388@gmail.com</a></td>
              <td><a href="https://wardhereprofile.netlify.app">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
              <td>PGFS003</td>
              <td>Nor Mohamed Hussein</td>
              <td>+252617220603</td>
              <td><a href="nor.jws@gmail.com">nor.jws@gmail.com</a></td>
              <td><a href="https://norkisma.github.io/MyPortfolio/home.html">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
             <td>PGFS004</td>
              <td>Abdirahim Dhiblawe Mohamoud</td>
              <td>+252618443229</td>
              <td><a href="abdirahim4ever@gmail.com">abdirahim4ever@gmail.com</a></td>
              <td><a href="https://abdirahim-sys.github.io/Hayat_Halls_and_restaurant/">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
             <td>PGFS005</td>
              <td>Ahmednuur Mohamud Warsame</td>
              <td>+252618091547</td>
              <td><a href="#">xararavic1547@gmail.com</a></td>
              <td><a href="index.html">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
              <td>PGFS006</td>
              <td>#NAME</td>
              <td>+25261</td>
              <td><a href="#">xyz@gmail.com</a></td>
              <td><a href="index.html">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
             <td>PGFS007</td>
              <td>#NAME</td>
              <td>+25261</td>
              <td><a href="#">xyz@gmail.com</a></td>
              <td><a href="index.html">Click Here More Info</a></td>
            </tr>
            <tr class="table-light">
            <td>PGFS008</td>
              <td>#NAME</td>
              <td>+25261</td>
              <td><a href="#">xyz@gmail.com</a></td>
              <td><a href="index.html">Click Here More Info</a></td>
            </tr>
          </tbody>
      
        </table>
      
      </div>
        

    </div>

    <br/>  <br/> <br/> <br/> <br/> <br/> <br/> 
      <!-- Footer -->
    <footer>
      <div class="col-4">
        <h2>FAQ Links</h2>
        <ul>
          <li>Home</li>
          <li>Student List</li>
          <li>Profiles</li>
          <li>Courses</li>
          <li>Instructors</li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Help</h3>
        <a href="#" style="color: white; text-decoration: none">Support</a
        ><br />
        <a href="#" style="color: white; text-decoration: none">Sign Up</a
        ><br />
        <a href="#" style="color: white; text-decoration: none">Sign In</a>
      </div>
      <div class="col-4">
        <h2>Social Media Links</h2>
        <ul style="display: inline-flex">
          <li>
            <a href="#"
              ><ion-icon style="color: blue" name="logo-facebook"></ion-icon
            ></a>
          </li>
          &nbsp;&nbsp;
          <li>
            <a href="#"
              ><ion-icon style="color: green" name="logo-whatsapp"></ion-icon
            ></a>
          </li>
          &nbsp;&nbsp;
          <li>
            <a href="#"
              ><ion-icon style="color: red" name="logo-youtube"></ion-icon
            ></a>
          </li>
          &nbsp;&nbsp;
          <li>
            <a href="https://abdirahim-sys.github.io/first-collaboration-sys-/"
              ><ion-icon style="color: white" name="logo-github"></ion-icon
            ></a>
          </li>
        </ul>
        <p>&copy; 2023-2024 First Collaboration Sys. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
